<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="../../website/templates/website-list.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
           Widget Editor
        </a>
        <p class="navbar-text pull-right">
            <a ng-click="model.newPageNav()" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </p>



    </div>
</nav>

<div class="container cont" ng-include="model.getTemplateUrl(model.widgetList.widgetType)"></div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </p>
    </div>
</nav>