
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="website-list.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
            Websites
        </a>
        <p class="navbar-text pull-right">
            <a ng-click="model.updateWebsite()" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </p>



    </div>
</nav>
<br>
<br>
<div class="container">
    <div ng-if="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
    <div ng-if="model.messageDelete" class="alert alert-success" role="alert">{{model.messageDelete}}</div>
    <form>
        <div class="form-group">
            <label for="name">Website Name</label>
            <input ng-model="model.website.name" type="text" class="form-control" id="name" placeholder="Website Name">
        </div>
        <div class="form-group">
            <label for="desc">Website Description</label>
            <textarea ng-model="model.website.description" class="form-control" rows="5" id="desc" placeholder="Website Description"></textarea>
        </div>
    </form>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWebsite()">Delete</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </p>
    </div>
</nav>




