<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget List</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="../page/page-list.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
        </p>
        <a class="navbar-brand" href="#">
            Widget List
        </a>
        <p class="navbar-text pull-right">
            <a href="widget-chooser.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
            </a>
        </p>



    </div>
</nav>
<br>
<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <a>GIZMODO</a>
        </div>
        <div class="col-sm-6">
            <a href="widget-heading.view.client.html" class="navbar-link"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            <a><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <a>US Senate.....</a>
        </div>
        <div class="col-sm-6">
            <a><span class="glyphicon glyphicon-cog pull-right"></span></a>
            <a><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <img src="download.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
        </div>
        <div class="col-sm-6">
            <a href="widget-image.view.client.html" class="navbar-link"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            <a><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <a>njnhdsuhdsiujdsfij</a>
        </div>
        <div class="col-sm-6">
            <a><span class="glyphicon glyphicon-cog pull-right"></span></a>
            <a><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
        </div>
        <div class="col-sm-6">
            <a href="widget-youtube.view.client.html" class="navbar-link"><span class="glyphicon glyphicon-cog pull-right"></span></a>
            <a><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-6">
            <a>hsdjkfu.</a>
        </div>
        <div class="col-sm-6">
            <a><span class="glyphicon glyphicon-cog pull-right"></span></a>
            <a><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#" class="navbar-link">
          <span class="glyphicon glyphicon-play">
          </span>
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a href="#" class="navbar-link">
          <span class="glyphicon glyphicon-eye-open">
          </span>
            </a>
        </p>
        <p class="navbar-text pull-right">
            <a href="../user/templates/profile.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </p>
    </div>
</nav>




</body>
</html>